{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h3 class="text-center mt-5">Books Uploaded by {{user.username}}</h3>
{% if messages %}
    {% for message in messages %}
        <h5 class="text-success">{{ message }}</h5>
    {% endfor %}
{% endif %}
<div class="text-center scroll mb-4">
	<table class="table table-bordered">
		  <thead>
		    <tr class="bg-secondary text-white">
		      <th scope="col">Book Name</th>
		      <th scope="col">Author</th>
		      <th scope="col">Upload Date</th>
		      <th scope="col">Download</th>
		      <th scope="col">Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for book in books %}
		    <tr>
		      <th scope="row" class="bookname"><a href="/book/editbook/{{book.id}}">{{book.bookname}}</a></th>
		      <td>{{book.bookauthor}}</td>
		      <td>{{book.uploaded_at | date:"d F Y"}}</td>
		      <td><a href="{{book.document.url}}" target="_blank">Download</a></td>
		      <td>				
		      	<form method="post" action="{% url 'deletebook' book.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn text-danger">Delete</button>
				</form>
			</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
</div>
<div class="text-center">
	<p class="text-info">Click on Book name to Edit details.</p>
	<a href="{% url 'upload' %}" class="btn btn-primary">Upload New</a>
	<a href="{% url 'home' %}" class="btn btn-outline-success">Go Back</a>
</div>

{% endblock %}
