{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="w-100 text-center scroll mt-4">
	<h3 class="text-center">Books Uploaded by {{user.username}}</h3>

	<table class="table table-bordered">
		  <thead>
		    <tr class="bg-secondary text-white">
		      <th scope="col">Book Name</th>
		      <th scope="col">Author</th>
		      <th scope="col">Upload Date</th>
		      <th scope="col">Download</th>
		      <th scope="col">Delete</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for book in books %}
		    <tr>
		      <th scope="row">{{book.bookname}}</th>
		      <td>{{book.bookauthor}}</td>
		      <td>{{book.uploaded_at | date:"d F Y"}}</td>
		      <td><a href="{{book.document.url}}" target="_blank">Download</a></td>
		      <td>				
		      	<form method="post" action="{% url 'deletebook' book.pk %}">
					{% csrf_token %}
					<button type="submit" class="btn text-danger">Delete</button>
				</form>
			</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
</div>
<div class="text-center">
	<a href="{% url 'upload' %}" class="btn btn-primary">Upload Book</a>
	<a href="{% url 'home' %}" class="btn btn-outline-success">Go Back</a>
</div>

{% endblock %}
